1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
x = "snig"
print(x)

snig

In [3]:
colours_list = ['red','blue','white','black']
print(colours_list)

['red', 'blue', 'white', 'black']

In [4]:
float_num = 69.69
print(float_num)

69.69

In [5]:
tuple_num = (10, 20, 30,40)
print(tuple_num)

(10, 20, 30, 40)

2. Given are some following variables containing data:
(i) var1 = ''
(ii) var2 = '[DS, ML, Python]'
(iii) var3 = ['DS','ML','Python']
(iv) var4 = 1.
what will be the data types of the above given variable.

In [6]:
var1 = ''
type(var1)

str

In [7]:
var2 = '[DS, ML, Python]'
type(var2)

str

In [8]:
var3 = ['DS','ML','Python']
type(var3)

list

In [9]:
var4 = 1.
type(var4)

float

3. Explain the use of the following operators using an examples
(i) /
(ii) %
(iii) //
(iv) **

In [10]:
# The divsion operator (/) is used to divide 2 operands
327 / 3

109.0

In [11]:
# The modulo operator (%) gives the remainder when an operand divides the other operand
36 % 6

0

In [12]:
# The floor division operator (//) always returns an integer value by discarding the fractional part of a number
-5 // 10

-1

In [13]:
8 // 2

4

In [14]:
# The (**) operator raised an operand to the power of some value
10 ** 2

100

4. Create a list of length 10 of your choice containing multiple types of data. Using a for loop print the element and its data type

In [15]:
l = [1, 4.44, 10, True , 7 + 4j, 'snig', 'data science', 8.8, 88, -88.0]
for i in l :
    print(f'The data type of {i} is: ')
    print(type(i))

The data type of 1 is:
<class 'int'>
The data type of 4.44 is:
<class 'float'>
The data type of 10 is:
<class 'int'>
The data type of True is:
<class 'bool'>
The data type of (7+4j) is:
<class 'complex'>
The data type of snig is:
<class 'str'>
The data type of data science is:
<class 'str'>
The data type of 8.8 is:
<class 'float'>
The data type of 88 is:
<class 'int'>
The data type of -88.0 is:
<class 'float'>

5. Using a while loop, verify if the number A is purely divisible by number B and if so the how many times it can be divisible

In [16]:
A = int(input('Enter the dividend: '))
B = int(input('Enter the divisor: '))

count = 0   
while (A % B == 0):
    A = A / B
    count += 1
    
if count > 0:
    print("A is divisible by B", count,"times.")
else:
    print("A is not divisible by B")

Enter the dividend:  36
Enter the divisor:  6

A is divisible by B 2 times.

6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [17]:
num_list = [20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 300, 600, 900, 1200, 1500, 1800, 2100, 2400]
for i in num_list :
    if (i % 3 == 0):
        print(f'{i} is divisible by 3')
    else :
        print(f'{i} is not divisible by 3')

20 is not divisible by 3
30 is divisible by 3
40 is not divisible by 3
50 is not divisible by 3
60 is divisible by 3
70 is not divisible by 3
80 is not divisible by 3
90 is divisible by 3
100 is not divisible by 3
110 is not divisible by 3
120 is divisible by 3
130 is not divisible by 3
140 is not divisible by 3
150 is divisible by 3
160 is not divisible by 3
170 is not divisible by 3
180 is divisible by 3
190 is not divisible by 3
300 is divisible by 3
600 is divisible by 3
900 is divisible by 3
1200 is divisible by 3
1500 is divisible by 3
1800 is divisible by 3
2100 is divisible by 3
2400 is divisible by 3

7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutability and Immutability 
An object whose internal state (data) can be changed is called a Mutable object. Similarly, an object whose internal state (data) can not be changed is called an Immutable object.
Mutable - 
Lists,
Sets,
Dictionaries

Immutable:
Numbers (int, float, decimal, boolean, Strings,
Tuples,etc.)

In [18]:
vegetable_list = ['spinach','brinjal','cabbage','cauliflower','brocolli']  # Mutable
print(vegetable_list)
vegetable_list[0] = 'nutritionist'
print(vegetable_list)

['spinach', 'brinjal', 'cabbage', 'cauliflower', 'brocolli']
['nutritionist', 'brinjal', 'cabbage', 'cauliflower', 'brocolli']

In [19]:
z = 'snigdha' #immutable
z[0] = o

NameError: name 'o' is not defined